
{% extends 'ar/base.html' %}
	{% block content %}
	
		<div>
            <h3><a href="/">Top 10 List</a></h3>
            <div class="date">
		     
		    </div>
            <div class = 'box'> </div>
           
        </div>
	 	{% for post in posts %}
		    <div>
		    	<h3><a href="{% url 'ar.views.post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
		    	<div class="date">
		        	{{ post.published_date }} <span> |</span> <span class = "author">{{post.author}}</span>
		        </div>
		        <p>{{ post.preview_text|linebreaks }}</p>
		    </div>
		{% endfor %}
	{% endblock content %}
