{% load staticfiles %}
<html>
    <head>
        <title>Article Site</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/ar.css' %}">
    </head>
    <body>
        <div>
            <h3><a href="/">Top 10 List</a></h3>
            <div class = 'box'> </div>
        </div>

	    {% for post in posts %}
		    <div>
		        <p>published: {{ post.published_date }}</p>
		        <h3><a href="">{{ post.title }}</a></h3>
		        <p>{{ post.text|linebreaks }}</p>
		    </div>
		{% endfor %}
    </body>
</html>